{% extends 'main/base.html' %}

{% block content %}
<div class="jumbotron mt-5">
    <h1 class="display-3">Please Login</h1>
    <p class="lead">(Must be SuperUser, please check with the site admin)</p>
    <hr class="my-2">


    {% if form.errors %}
    <p>Your username and password did'nt match! Please try again.</p>
    {% endif %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Login">
        <input type="hidden" name="next" value="{{next}}">
    </form>
</div>
{% endblock %}