{% extends 'main/base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid mt-5">
  <div class="container">
    <h1 class="display-3">Antonio Paños</h1>
    <p class="lead">Quien soy</p>
    <hr class="my-2">
    <p>Inicie mi carrera profesional dentro de la informática dedicado al desarrollo de sistemas de gestión liderando proyectos
      de creación de ERP tanto a medida como  estandar. Después de muchos años dedicado a otros ámbitos en la dirección de empresas, decidí retomar mi pasión desde otra perspectiva.
    </p>
    <p>
      Mi labor está centrada en el desarrollo de soluciones que integran la gestión de dispositvos físicos con el mundo virtual. Todo ello utilizando el versatil lenguaje Python como hilo conductor entre las distintas plataformas.
    </p>
  </div>
</div>
{% endblock %}